{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>AASO</title>
{% endblock head%}



{% block body %}
<main style="max-width: 1100px; margin: 100px auto;">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">COMPOSATION</th>
        <th scope="col">MRP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AASO</td>
        <td>Otto</td>
        <td>120/TAB</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>AASO XZ</td>
        <td>Thornton</td>
        <td>34/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AASO T20</td>
        <td>the Bird</td>
        <td>25/TAB</td>
      </tr>
    </tbody>
  </table>

</main>

{% endblock body %}