{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>AASO</title>

{% endblock head%}



{% block body %}

    <!-- hero-about-area start -->
    <div class="hero-about-area" style="background-image: url(https://medics.themechampion.com/html/pharmacy/assets/img/banner/inner-banner-1.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-about-text text-center">
                        <h2>Services</h2>
                        <h4><span>Home / </span>Service</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero-about-area End -->

    <!-- Medi services area Start -->
    <div class="medi-service-area" style="background-image: url(https://medics.themechampion.com/html/pharmacy/assets/img/services/services.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="med-service-title">
                        <h2>Explore Our Caring & Premium <br>
                            Medical Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="med-text-wrapper">
                        <div class="medi-content">
                            <p>At AASO, we offer a comprehensive range of medical services designed to meet your health needs with compassion and excellence. Our team of dedicated professionals is committed to providing personalized care using the latest medical advancements. We pride ourselves on our patient-centered approach, ensuring you receive the highest quality of care in a comfortable and supportive environment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="med-text-wrapper">
                        <div class="medi-content">
                            <p>From preventive care and routine check-ups to specialized treatments and emergency services, we are here to support your health journey every step of the way. Discover the difference of premium medical services at AASO, where your well-being is our top priority. Let us help you achieve optimal health and wellness with our extensive range of services tailored to meet your unique needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Medi services area End -->





    <!-- Medical Services area start -->
    <div class="Medical-Services-area-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-title text-center">
                        <h2>Explore Our Caring & Premium <br>
                            Medical Services</h2>
                        <p>At AASO, we offer a comprehensive range of medical services designed to meet <br>
                            your health needs with compassion and excellence. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-1.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Dental Care</h4>
                                <p>Comprehensive oral health solutions, including cleanings, fillings, root canals, and implants. Ensuring your smile is healthy and bright.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-2.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Neurology</h4>
                                <p>Expert care for nervous system disorders, from migraines to complex conditions. Personalized treatments and advanced care options.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-3.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Pediatrics</h4>
                                <p>Specialized care for children's health, including check-ups, vaccinations, and illness treatment in a child-friendly environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-5.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Orthopaedic</h4>
                                <p>Treatment for musculoskeletal issues, from fractures to joint replacements. Helping you regain mobility and live pain-free.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-6.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Heart Disease</h4>
                                <p>Comprehensive cardiovascular care, including stress tests and interventional procedures, to keep your heart healthy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-7.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Rental Medicine</h4>
                                <p>Expert care for kidney conditions, including chronic disease management, dialysis, and transplant services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-4.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>General Surgery</h4>
                                <p>Expert surgical care for a wide range of conditions, ensuring precise and safe procedures for optimal recovery.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-8.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Bones</h4>
                                <p>Specialized care for bone health, including treatment of fractures, osteoporosis, and other bone-related conditions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-9.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Urology</h4>
                                <p>Comprehensive urological care, addressing issues related to the urinary tract and male reproductive system.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-10.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Primary Care</h4>
                                <p>Holistic primary care services for all ages, including preventive care, routine check-ups, and management of chronic conditions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-11.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Eye Specialist</h4>
                                <p>Advanced eye care services, from routine eye exams to treatment of complex eye conditions, ensuring your vision health.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="medi-service-box">
                        <div class="explore">
                            <div class="dental-care">
                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/services/s-12.png" alt="">
                            </div>
                            <div class="care-text">
                                <h4>Gynecology</h4>
                                <p>Comprehensive gynecological care, including routine exams, reproductive health, and management of gynecological conditions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Medical Services area End -->


    <!-- slider area Start -->
    <div class="slider-area">
        <img class="slder slider-1" src="https://medics.themechampion.com/html/pharmacy/assets/img/services-shape-1.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-title text-center ">
                        <h2>Happy Client says About us</h2>
                        <p>Our clients trust AASO for their healthcare needs and appreciate the high-quality care and compassionate service they receive. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img class="sli sli-2" src="https://medics.themechampion.com/html/pharmacy/assets/img/sheap-1.png" alt="">
                    <div class="single-slider-active owl-carousel">
                        <div class="slider-item">
                            <div class="slider-content">
                                <i class="">”</i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum
                                    dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod Lorem ipsum dolor sit amet, </p>
                            </div>
                            <div class="slider-info">
                                <div class="slider-inner">
                                    <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-1.png" alt="">
                                </div>
                                <div class="slider-inner-text">
                                    <h4>Lucas</h4>
                                    <p>Oral Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="slider-content">
                                <i class="">”</i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum
                                    dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod Lorem ipsum dolor sit amet, </p>
                            </div>
                            <div class="slider-info">
                                <div class="slider-inner">
                                    <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-2.png" alt="">
                                </div>
                                <div class="slider-inner-text">
                                    <h4>James Warm</h4>
                                    <p>Oral Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="slider-content">
                                <i class="">”</i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum
                                    dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod Lorem ipsum dolor sit amet, </p>
                            </div>
                            <div class="slider-info">
                                <div class="slider-inner">
                                    <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-3.png" alt="">
                                </div>
                                <div class="slider-inner-text">
                                    <h4>Oliver</h4>
                                    <p>Oral Customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slider area End -->
    
{% endblock body %}